.auth {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100%;

    &__menu {}

    &__title {}

    &__button {
        button {
            width: 100%;

            padding: .5rem .2rem;
            margin: .2rem 0;
        }
    }

    &__version {
        position: absolute;
        bottom: 0;
    }
}