$green-success: #23a946;

$blue: #4D96FF;
$blue-light: #8fbdff;
$blue-dark: #031426;
$blue-dark2: #0d2947;
$blue-dark3: #103052;

$navy-dark: #020e1b;


$danger: #ff4d4f;
$warning: #f7ca01;

$white: #fff;

$black: #000;

$grey: rgb(180, 180, 180);
$grey-light1: #f1f1f1;
$grey-light2: #e6e3e3;
$grey-dark: #495464;
$grey-dark2: #495464;