button {
    border-radius: .65rem;
    transition: all .35s;

    padding: .3rem .5rem;

    &.info {
        color: $black;
        background-color: $white;

        border: solid .1rem $blue;
        border-radius: .65rem;

        transition: all .25s;

        padding: .3rem .5rem;
        margin: 1rem 0;

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    &.danger {
        border: solid .1rem $danger;
        background-color: $white;

        &:hover {
            border: solid .1rem $danger;
            background-color: $danger;

            color: white;
        }
    }
}


p {
    &.lone-wolf {
        span {
            color: $grey;
        }
    }

    &.warning {
        color: $warning;
    }

    &.danger {
        color: $danger;
    }
}

div.notice {
    p {
        margin: .5rem 0;
    }
}

input {
    &.danger {
        border-color: $danger !important;
        color: $danger;
    }

    &.warning {
        border-color: $warning !important;
        color: $warning;
    }
}


a {
    color: $blue;
    text-decoration: none;

    &:visited {
        color: $blue;
        text-decoration: none;
    }
}
