.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100%;

    &__title {}

    &__form {}

    &__input {
        input {
            width: 100%;

            border-radius: .65rem;
            outline: none;
            border: solid .1rem $grey;

            padding: .35rem .2rem;
            margin: .3rem 0;

            &.error {
                border: solid .1rem $danger;
                color: $danger;
            }
        }
    }

    &__btn-submit {
        button {
            width: 100%;

            text-decoration: none;
            color: $black;

            border: solid .15rem $blue;
            background-color: $white;
            border-radius: .65rem;

            padding: .5rem .2rem;
            margin: .3rem 0;

            &:hover {
                color: $white;
                background-color: $blue;
            }

            &:disabled {
                background-color: $blue-light;
                border: solid .15rem $blue-light;
            }
        }
    }

    &__notice {
        span {
            font-size: .75rem;
        }
    }

    @media screen and (max-width: 1920px) {
        &__form {
            width: 20%;
        }
    }

    @media screen and (max-width: 1440px) {
        &__form {
            width: 25%;
        }
    }

    @media screen and (max-width: 1024px) {
        &__form {
            width: 35%;
        }
    }

    @media screen and (max-width: 428px) {
        &__form {
            width: 70%;
        }
    }
}