div.chat-block {
    color: #fff;
    display: flex;
    justify-content: center;

    background-color: $black;

    div.chat-panel {
        background-color: $black;
        div.header-menu {
            width: 100%;
            background-color: $dark-grey;

            position: relative;


            h3 {
                text-align: center;
                margin: 0;
                width: 100%;

                padding: 1rem 0;
                font-size: 0.95rem;
            }

            button {
                border: none;
                background: none;
                color: #fff;

                position: absolute;
                top: 0;
                bottom: 0;
                left: 5%;
            }
        }
        div.chat-users {
            vertical-align: top;
            position: absolute;

            background-color: $grey;
            height: 100%;

            div.chat-header {

                h2,
                h3 {
                    text-align: center;
                }
            }

            div.users-online {
                height: 70%;
            }
            div.menu {
                text-align: center;
                button {
                    border: none;
                    background:none;
                    color: #fff;
                }
                button:hover {
                    text-decoration: underline;
                    color: #fff;
                }
            }
        }

        div.chat {
            display: inline-block;

            div.chat-messages {
                overflow: auto;

                div.message {
                    div.user-message {
                        width: max-content;
                        /*min-width: 20%;*/
                        background-color: $dark-grey;
                        border-radius: 0.5rem;
                        -webkit-border-radius: 0.5rem;
                        -moz-border-radius: 0.5rem;
                        -ms-border-radius: 0.5rem;
                        -o-border-radius: 0.5rem;
                    }

                    span {
                        color: rgb(156, 156, 156);
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            div.chat-input {
                width: 100%;

                text-align: center;

                textarea {
                    background-color: $black;
                    color: #fff;
                    border-color: #fff;
                    border-radius: .75rem;
                    outline: none;
                    -webkit-border-radius: .75rem;
                    -moz-border-radius: .75rem;
                    -ms-border-radius: .75rem;
                    -o-border-radius: .75rem;
                }

                button {
                    background-color: $grey;
                    vertical-align: top;
                    border: none;
                    border-radius: .75rem;
                    -webkit-border-radius: .75rem;
                    -moz-border-radius: .75rem;
                    -ms-border-radius: .75rem;
                    -o-border-radius: .75rem;

                    p {
                        color: #fff;
                    }
                }

                button:hover {
                    background-color: $dark-grey;
                }

            }
        }
    }
}