div.contact-page {
    div.contact-list {
        div.add-contact {
            input {
                border-radius: .65rem;
                -webkit-border-radius: .65rem;
                -moz-border-radius: .65rem;
                -ms-border-radius: .65rem;
                -o-border-radius: .65rem;
                outline: none;
                padding: .35rem .2rem;
                margin-right: .3rem;

                border: solid .1rem $grey;
            }
            button {
                text-decoration: none;
                color: $black;
                border: solid .1rem $blue;
                background-color: $white;

                border-radius: .65rem;
                -webkit-border-radius: .65rem;
                -moz-border-radius: .65rem;
                -ms-border-radius: .65rem;
                -o-border-radius: .65rem;

                padding: .35rem .4rem;
                margin: 0 .3rem;

                transition: all .2s;
                -webkit-transition: all .2s;
                -moz-transition: all .2s;
                -ms-transition: all .2s;
                -o-transition: all .2s;
            }
            button:hover {
                background-color: $blue;
                color: $white;
            }
            button:active {
                background-color: $blue-light;
                border-color: $blue-light;
            }
            div.notice {
                p {
                    margin: .5rem 0;
                }
            }
        }
        div.contacts {
            div.contact {
                position: relative;
                width: max-content;

                p {
                    display: inline-block;
                    width: max-content;
                    font-size: .95rem;
                    span {
                        color: $grey;
                        font-size: .8rem;
                    }
                }

                button.info {
                    margin-left: 1rem;
                }
            }
        }
    }
}