div.app-header {
    display: flex;
    justify-content: flex-start;
    background-color: $grey-light1;

    padding: 1rem 0;

    div.app-title,
    div.app-btn {
        width: max-content;
    }

    div.app-btn {
        margin-left: 1rem;

        button {
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
        }
        button:hover {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
    }

    div.app-title {
    }

    div.app-title {
        h3 {
            margin: 0 1rem;
        }
    }
}

@media screen and (max-width: 1920px) {}