@import './homePage';
@import './loginPage';
@import './registerPage';
@import './profilePage';
@import './navigation';
@import './contactsPage';
@import './noticePage';
@import './header';


div.main-page.true,
div.contact-page,
div.notice-page {
    display: inline-block;
}

div.contact-list, div.notice-list, div.profile-info {
    margin: 2rem 1rem;
}

input.danger {
    border-color: $danger !important;
    color: $danger;
}
input.warning {
    border-color: $warning !important;
    color: $warning;
}

p.warning {
    color: $warning;
}
p.danger {
    color: $danger;
}