div.messenger-page {

    display: flex;
    height: 100%;

    div.messenger-contacts {
        width: 60%;
        height: 100%;

        flex-grow: 1;

        div.create-chat {
            max-width: 100%;
            overflow: hidden;

            h3 {
                margin: 0;

                margin-bottom: 1rem;
            }

            input[type='text'] {
                border-radius: .65rem;
                -webkit-border-radius: .65rem;
                -moz-border-radius: .65rem;
                -ms-border-radius: .65rem;
                -o-border-radius: .65rem;
                outline: none;
                padding: .35rem .2rem;
                margin-right: .3rem;

                border: solid .1rem $grey;
            }

            input[type='radio'] {
                margin-top: 1rem;
                margin-right: .5rem;
            }

            button {
                text-decoration: none;
                color: $black;
                border: solid .1rem $blue;
                background-color: $white;

                border-radius: .65rem;
                -webkit-border-radius: .65rem;
                -moz-border-radius: .65rem;
                -ms-border-radius: .65rem;
                -o-border-radius: .65rem;

                padding: .35rem .4rem;
                margin: 0 .3rem;

                transition: all .2s;
                -webkit-transition: all .2s;
                -moz-transition: all .2s;
                -ms-transition: all .2s;
                -o-transition: all .2s;

                &:hover {
                    background-color: $blue;
                    color: $white;
                }

                &:active {
                    background-color: $blue-light;
                    border-color: $blue-light;
                }
            }
        }


        div.messenger-chats {
            div.chat {
                button {
                    width: 100%;
                    text-align: left;
                    background: none;
                    border: 0;
                    border-radius: 0;

                    border-bottom: solid .05rem $grey;

                    padding: 1rem 2rem;

                    font-size: .95rem;

                }
            }
        }
    }

    div.chat-box {
        width: 100%;
        flex-grow: 1;

        border-left: $border;

        div.chat-title {
            border-bottom: $border;

            padding: .5rem 1rem;

            h3 {
                font-size: .8rem;
                margin: 0;
            }

            span {
                color: $grey;
                font-size: .55rem;
            }
        }

        div.chat-messages {}
        div.chat-input {
            position: absolute;
            bottom: 0;
        }
    }
}