div.navigation-bar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    text-align: center;


    width: 25%;

    button {
        font-size: .75rem;
        background: none;
        border: solid .1rem $white;
        width: 85%;
        border-radius: .65rem;
        -webkit-border-radius: .65rem;
        -moz-border-radius: .65rem;
        -ms-border-radius: .65rem;
        -o-border-radius: .65rem;

        padding: .3rem .2rem;
        margin: .3rem 0;
    }
    button:hover {
        border: solid .1rem $grey;
    }
    button:active {
        border: solid .1rem $blue;
    }
    button:first-child {
        margin-top: 2rem
    }
}