div.profile-page {
    display: inline-block;

    div.profile-info {
        div.profile-user {
            h3 {
                width: 100%;
                margin: 0;
            }

            p {
                display: inline-block;
                width: max-content;
                margin: .5rem 0;

                span {
                    color: $grey;
                }
            }
        }
    }

    button.info.send-message {
        margin-right: 1rem;
    }

    button.info:hover {
        background-color: $blue;
        color: $white;
    }
}