div.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;

    div.register-form {
        width: 45%;
        div.signin-link {
            a, a:visited {
                color: $blue;
                text-decoration: none;
            }
        }
        div.register-input {
            input {
                width: 100%;
                border-radius: .65rem;
                -webkit-border-radius: .65rem;
                -moz-border-radius: .65rem;
                -ms-border-radius: .65rem;
                -o-border-radius: .65rem;
                outline: none;
                padding: .35rem .2rem;
                margin: .3rem 0;

                border: solid .1rem $grey;
            }
            input.error-mail, input.error-login, input.error-name, input.error-password, input.error-mail[type='text'], input.error-login[type='text'], input.error-name[type='text'] input.error-password[type='text'] {
                border: solid .1rem $danger;
                color: $danger;
            }
        }
        div.btn-submit {
            button {
                width: 100%;
                text-decoration: none;
                color: $black;
                border: solid .15rem $green-success;
                background-color: $white;
                border-radius: .65rem;
                -webkit-border-radius: .65rem;
                -moz-border-radius: .65rem;
                -ms-border-radius: .65rem;
                -o-border-radius: .65rem;

                padding: .5rem .2rem;
                margin: .3rem 0;
            }
            button:hover {
                color: $white;
                background-color: $green-success;
            }
        }

        div.notice {
            span {
                font-size: .75rem;
            }
        }

    }
}

@media screen and (max-width: 428px) {
    div.register-page {
        div.register-form {
            width: 70%;
        }
    }
}