@import './settings/var';
@import './settings/font';
@import './settings/ui';
@import './components/index';

body,
html {
    margin: 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}

div#root,
div.app-page,
div.main-page,
div.login-page,
div.profile-page {
    height: 100%;
}

div.app-page {
    div.app-header {
        button {
            background: none;
            border: none;
        }
    }
}