@import './settings/colors';
@import './settings/var';
@import './settings/font';
@import './settings/ui';

@import '../../../components/index';


body,
html {
    margin: 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;

    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;

        border-bottom: solid .05rem $navy-dark;
        background-color: $blue-dark;

        padding: 1rem 0;
    }

    &__button-menu {
        width: max-content;
        height: 30px;

        margin-left: 1rem;

        button {
            width: 30px;
            height: 30px;

            background: none;
            border: none;
            transition: all .3s;

            padding: 0;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__title {
        width: max-content;

        h3 {
            color: $white;

            margin: 0 1rem;
        }
    }

    &__transition {
        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

        transition: all .5s;

        .blur {
            &-dark {
                position: absolute;
                top: 0;
                opacity: 0;

                width: 100%;
                height: 100%;

                transition: all .85s;


                &.show {
                    opacity: .5;
                    background-color: $black;
                }
            }
        }

        &.show {
            transition: all .5s;
            z-index: 998;
        }
    }
}