@import './settings/var';
@import './settings/font';
@import './components/Chat';
@import './components/JoinBlock';


body,
html {
    margin: 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}

div#root,
div.app,
div.join-block,
div.chat-block {
    height: 100%;
}