.friends {

    width: 100%;
    height: 100%;

    color: $white;
    background-color: $navy-dark;

    &__title {
        margin-top: 0;
    }

    &__content {
        width: max-content;
        padding: 2rem 1rem;
    }

    &__add-friend {
        display: flex;

        padding: .5rem 0 1.5rem;

        input {
            color: $white;

            outline: none;
            background-color: $blue-dark;

            border: $border;
            border-radius: 0.65rem;

            padding: 0.35rem 0.6rem;
            margin-right: 0.3rem;
        }
    }

    &__list {}

    &__button {
        &.info {
            margin-left: 1rem;

            color: $white;
            background-color: $blue-dark2;
        }
    }

    &__notice {}

    &__avatar {
        width: 50px;
        height: 50px;

        border-radius: 50%;

        background-color: $grey;
    }

    &__friend-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        width: 100%;

        padding: 0 1rem;
        margin: 1rem 0;

        transition: background-color .5s;

        &:hover {
            background-color: $blue-dark2;
        }
    }

    &__friend {
        p {
            display: inline-block;
            width: max-content;
            font-size: .95rem;

            span {
                color: $grey;
                font-size: .8rem;
            }
        }
    }

}