.friends {

    width: 100%;
    height: 100%;

    color: $white;
    background-color: $blue-dark;

    &__title {
        margin-top: 0;
    }

    &__content {
        width: max-content;
        padding: 2rem 1rem;
    }

    &__add-friend {
        input {
            color: $white;

            outline: none;
            background-color: $blue-dark;

            border: $border;
            border-radius: 0.65rem;

            padding: 0.35rem 0.6rem;
            margin-right: 0.3rem;
        }

        button {
            margin: 1rem 0;
            padding: .35rem .9rem;

            color: $white;
            background-color: $blue-dark2;

            &:hover {
                background-color: $blue;
                color: $white;
            }

            &:active {
                background-color: $blue-light;
                border-color: $blue-light;
            }

        }
    }

    &__list {
    }

    &__button {
        margin: 1rem 0;
        padding: .35rem .9rem;

        &.info {
            margin-left: 1rem;

            color: $white;
            background-color: $blue-dark2;
        }
    }

    &__notice {}

    &__friend-content {
        position: relative;
        width: 100%;

        padding: 0 1rem;

        transition: background-color .5s;


        p {
            display: inline-block;
            width: max-content;
            font-size: .95rem;

            span {
                color: $grey;
                font-size: .8rem;
            }
        }

        &:hover {
            background-color: $blue-dark2;
        }
    }

}